@mixin font {
	font-weight: bold;
	font-size: 30px;
	font-style:italic;
	color: white;
	text-shadow: 2px 3px 3px grey;
}
@mixin link ($link,$hover,$active,$visited){
	color:$link;
		a{&:visited{
			color: $visited;
		}
		
		&:hover{
			color: $hover;
		}
		
		&:active{
			color: $active;
		}
		
	}

}