<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/UserCustomCss/style.css" rel="stylesheet" />
</head>
<body>
    <div class="header col-12">
        <div class="imagePng"><img src="https://s.tcdn.co/b57/a32/b57a3254-9355-36b7-8caf-15ad3ffe45e1/192/7.png" alt="Alternate Text" /></div>
        <nav class="nav _menu">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Documentation</a>
            <a class="nav-link" href="#">Examples</a>
            <a class="nav-link " href="#">Themes</a>
            <a class="nav-link" href="#">Expo</a>
            <a class="nav-link" href="#">Blog</a>
        </nav>    
    </div>
    <div class="row contentCenter">
        @RenderBody()
    </div>
    
    
    <div class="footer col-12">

        <div class="imagePngFooter"><img src="https://s.tcdn.co/b57/a32/b57a3254-9355-36b7-8caf-15ad3ffe45e1/192/10.png" alt="Alternate Text" /></div>
        <nav class="nav _menu">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Documentation</a>
            <a class="nav-link" href="#">Examples</a>
            <a class="nav-link " href="#">Themes</a>
            <a class="nav-link" href="#">Expo</a>
            <a class="nav-link" href="#">Blog</a>
        </nav>
    </div>



    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    
</body>
</html>
